



    <!--<div class="col-md-4">-->
        <!--<h2>Graph</h2>-->
        <!--<div class="chartdiv" id="chartdiv">-->
        <!--</div>-->
    <!--</div>-->

    <div class="col-md-4">
        <div id="map"></div>
    </div>
    <script>
        // var map = null;
        var mapOptions = {
            center: new naver.maps.LatLng(37.359, 127.105),
            zoom: 10
        };

        // function initMap(){
        //     map = new naver.maps.Map('chartdiv',mapOptions);
        // }
        var map = new naver.maps.Map('map', mapOptions);

    </script>

