
<!-- <div class="ems_boxed"> -->
  <h2>Naver Map API </h2>
  <div id="mapDiv" style="width:100%;height:600px;">
    <div class="buttons">
      <input id="to-jeju" type="button" value="제주도로 setCenter" class="control-btn">
      <input id="to-1" type="button" value="1레벨로 setZoom" class="control-btn">
      <input id="to-dokdo" type="button" value="독도로 fitBounds" class="control-btn">
      <input id="to-busan" type="button" value="부산으로 panTo" class="control-btn">
      <input id="to-seoul" type="button" value="서울로 panToBounds" class="control-btn">
      <input id="panBy" type="button" value="panBy로 조금씩 이동하기" class="control-btn">
      <input id="latlng" type="text" placeholder="GPS 좌표계" class="control-btn">
    </div>
  </div>
<!-- </div> -->
