.content h2 {
	margin-left: -16px;
}
.callout {
	padding: 20px;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	cursor: pointer;
}
body{
  height: auto;
}
ui-view{
  position:absolute;
  height: 100%;
}
.all_background{
  position: absolute;
  height: 100%;
}
.ems_boxed {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container{
  width:100%;
  height: 100px;
  /* position: absolute; */
}
/* .button-router{
  margin-right: 20px;
  margin-left: 20px;
} */
a{
  margin-right:100px;
}
.control-btn{
  margin: 0;;
  color: #555;
  padding: 2px 6px;
  background: #fff;
  border: solid 1px #333;
  cursor: pointer;
  -webkit-border-radius: 5px;
  outline: 0 none;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.5) !important;
}

.buttons{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
}
